.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lemonchiffon;
  color: blue;
}

.nav-Links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

a,
h3 {
  color: darkslateblue;
}
.logo {
  max-height: 100px;
  max-width: 100px;
}
h1 {
  text-align: center;
  font-family: Bush Script MT;
}
h2 {
  text-align: center;
  font-family: Bush Script MT;
}
.about {
  background: transparent;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.card {
  background-color: #c1ebc1;
  margin: 50px auto;

  height: 400px;
  width: 80%;
  box-shadow: 0 2px rgb(73, 68, 68);
  text-align: left;
  display: flex;
  flex-direction: row;
}
.right-column {
  padding: 10px;
}
.left-column {
  padding: 10px;
}
.thumbnail {
  width: 400px;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 920px) {
  .card {
    flex-direction: column;
    height: auto;
  }
  .thumbnail {
    width: 100%;
  }
}