.App {
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lemonchiffon;
  color: blue;
}

.nav-Links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

a, h3 {
  color: darkslateblue;
}
.logo {
  max-height: 100px;
  max-width: 100px;
}
